.hearder{
   background-image: linear-gradient(to left, pink, blue);
   width: 500px;
   height: 400px;
   margin-left: auto;
   margin-top: auto;
   margin-right: auto;
   border-radius: 20px;
   position: relative;
   text-align: center;
}
.hearder1{
    color: pink;
}
input{
    width: 50%;
    border: 1px pink solid;
    border-radius: 8px;
    color: black;
    box-sizing: border-box;
    margin: 8px 0px
}
.button{
    margin: 150px;
    border: 1px pink solid;
    border-radius: 8px;
    width: 25%;
    background-image: linear-gradient( to left,pink, blue);
}